<!DOCTYPE html>
<html>
  <head>
    <title>Map GeoJSON</title>
    <!-- Load leaflet CSS and JS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha384- 
ji9X2r1vZLDW/Uj8pWi3BhCtVvE3q/XW8Vr0JbX9IIQvZtF8W8YiWywUYTzTJyqr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha384- 
yFJcPY1B+YXHnrGsyPmZPiB2gN53wplmd4j+u1yJfR8PHpARIZot+9S9IV3mgqN6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.js"></script>
  </head>
  <body>
    <div id="map" style="height: 100vh"></div>

    <script>
      // Define the GeoJSON endpoint URL

      // Create the Leaflet map
      var map = L.map("map").setView([-6.21462, 106.84513], 12);

      // Add the basemap layer
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        maxZoom: 18,
      }).addTo(map);

      var bounds, zoom, xmin, ymin, xmax, ymin;

      // Add event listener to get map bounds and zoom level
      map.on("moveend", function () {
        bounds = map.getBounds();
        zoom = map.getZoom();
        xmin = bounds.getNorthEast();
        ymin = bounds.getSouthEast();
        xmax = bounds.getNorthWest();
        ymax = bounds.getSouthWest();
        console.log(xmin, ymin, xmax, ymax);
      });

      if (zoom === 8) {
        axios
          .get(
            `http://localhost:5000/desa?xmin${xmin}&ymin${ymin}&xmax${xmax}&ymax${ymax}`
          )
          .then(function (response) {
            return response.json();
          })
          .then(function (geojsonData) {
            // Add the GeoJSON layer to the map
            L.geoJSON(geojsonData).addTo(map);
          });
      }
    </script>
  </body>
</html>
